<!DOCTYPE html>
<html ng-app="ocelotlLogin">
<body background="images/w2.jpg" ng-controller="LoginController as loginCtrl">
	<div class="row e">
		<div class="col-md-4 col-md-offset-4 well" ng-if="!loginCtrl.forgotPass && !loginCtrl.registro">
			<div class="panel-primary">
				<div class="panel-heading">Iniciar sesión</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-8 col-md-offset-3">
							<img align="middle" class="img-responsive" src="images/jaguar.jpg" alt=""/><br>
						</div>
					</div>
					<form class="form-horizontal" ng-submit="loginCtrl.login()">
						<div class="form-group">
							<label for="inputUser" class="col-sm-3 control-label">Usuario</label>
							<div class="input-group col-sm-8">
								<div class="input-group-addon"><span class="fa fa-user"></span></div>
								<input type="text" class="form-control" id="inputUser" placeholder="usuario@ocelotl.mx" ng-model="loginCtrl.usuario.username">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPass" class="col-sm-3 control-label">Contraseña</label>
							<div class="input-group col-sm-8">
								<div class="input-group-addon"><span class="fa fa-lock"></span></div>
								<input type="password" class="form-control" id="inputPass" placeholder="********" ng-model="loginCtrl.usuario.password">
							</div>
						</div>
                        <strong ng-if="loginCtrl.failLogin" class="textRed col-sm-offset-3">El usuario o la contraseña es incorrecta.</strong><br><br>
						<!--<div class="form-group">
							<div class="col-sm-offset-4 col-sm-2">
								<div class="checkbox">
									<label>
										<input type="checkbox"> Recordarme
									</label>
								</div>
							</div>
						</div>-->
						<div class="form-group">
							<div class="col-sm-12">
								<button type="submit" class="btn btn-primary btn-block">Ingresar</button>
							</div>
						</div>
					</form>
					<a href="#" ng-click="loginCtrl.registro = true">Registrarse</a>
					<a href="#" ng-click="loginCtrl.forgotPass = true" class="nav navbar-right">Olvidé mi contraseña</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-md-offset-4 well" ng-if="loginCtrl.forgotPass">
			<div ng-if="!loginCtrl.mailSent">
				<blockquote>
					<strong>
						Por favor, introduzca el e-mail con el cual registró su cuenta. <br>
					</strong>
				</blockquote>
				<form class="form-horizontal" ng-submit="loginCtrl.recoverPass()">
					<div class="form-group">
						<label for="inputMail" class="col-sm-3 control-label">Email</label>
						<div class="input-group col-sm-8">
							<div class="input-group-addon"><span >@</span></div>
							<input type="text" class="form-control" id="inputMail" placeholder="usuario@ocelotl.mx" ng-model="loginCtrl.mailWithoutPass" required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-primary btn-block">Aceptar</button>
						</div>
					</div>
				</form>
				<br><br>
				<a href="#" ng-click="loginCtrl.forgotPass = false" class="nav navbar-right">Cancelar</a>
			</div>
			<div ng-if="loginCtrl.mailSent">
				<strong>Se envió un e-mail a su cuenta de correo con un código de recuperación</strong><br><br>
				<a href="#" ng-click="loginCtrl.forgotPass = false; loginCtrl.mailSent = false" class="nav navbar-right">Volver</a>
                <form class="form-horizontal" ng-submit="loginCtrl.samePassRecovery && loginCtrl.changePass()">
						<div class="form-group">
							<label for="inputUserReg">Código</label>
							<div class="input-group">
								<div class="input-group-addon"><span class="fa fa-barcode"></span></div>
								<input type="password" class="form-control" id="inputUserReg" placeholder="**********" ng-model="loginCtrl.nuevoPassword.recoveryCode" required>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassRec">Contraseña</label>
							<div class="input-group">
								<div class="input-group-addon"><span class="fa fa-lock"></span></div>
								<input type="password" class="form-control" id="inputPassRec" placeholder="********" ng-model="loginCtrl.nuevoPassword.password" ng-blur="loginCtrl.verificaPassRecovery()" required>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassRecRep">Repetir Contraseña</label>
							<div class="input-group">
								<div class="input-group-addon"><span class="fa fa-lock"></span></div>
								<input type="password" class="form-control" id="inputPassRecRep" placeholder="********" ng-model="loginCtrl.repeatPassRecovery" ng-blur="loginCtrl.verificaPassRecovery()" required>
							</div>
							<strong ng-show="!loginCtrl.samePassRecovery" class="textRed">La contraseña no coincide</strong>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<button type="submit" class="btn btn-primary btn-block">Registrar</button>
							</div>
						</div>
					</form>
			</div>
		</div>
		<div class="col-md-4 col-md-offset-4 well" ng-if="loginCtrl.registro">
			<div class="panel-primary">
				<div class="panel-heading">Registro de cuenta</div>
				<div class="panel-body">

					<form class="form-horizontal" id="createUser" ng-submit="loginCtrl.samePass && loginCtrl.createUser()">
						<div class="form-group">
							<label for="inputUserReg">Usuario</label>	
							<div class="input-group">
								<div class="input-group-addon"><span class="fa fa-user"></span></div>
								<input type="text" class="form-control" id="inputUserReg" placeholder="usuario@ocelotl.mx" ng-model="loginCtrl.nuevoUsuario.username" required>
							</div>
						</div>
						<div class="form-group">
							<label for="inputUserReg">E-mail</label>	
							<div class="input-group">
								<div class="input-group-addon"><span>@</span></div>
								<input type="email" class="form-control" id="inputUserReg" placeholder="usuario@ocelotl.mx" ng-model="loginCtrl.nuevoUsuario.email" required>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassReg">Contraseña</label>
							<div class="input-group">
								<div class="input-group-addon"><span class="fa fa-lock"></span></div>
								<input type="password" class="form-control" id="inputPassReg" placeholder="********" ng-model="loginCtrl.nuevoUsuario.password" ng-blur="loginCtrl.verificaPass()" required>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassRegRep">Repetir Contraseña</label>
							<div class="input-group">
								<div class="input-group-addon"><span class="fa fa-lock"></span></div>
								<input type="password" class="form-control" id="inputPassRegRep" placeholder="********" ng-model="loginCtrl.repeatPass" ng-blur="loginCtrl.verificaPass()" required>
							</div>
							<strong ng-show="!loginCtrl.samePass" class="textRed">La contraseña no coincide</strong>
						</div>
                        <div class="alert alert-success" role="alert" ng-if="loginCtrl.cuentaCreada">Cuenta creada exitosamente</div>
						<div class="form-group">
							<div class="col-sm-12">
								<button type="submit" class="btn btn-primary btn-block">Registrar</button>
							</div>
						</div>
					</form>
					<a href="#" ng-click="loginCtrl.registro = false">Ya tengo cuenta</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
