<div ng-controller="EmpleadoController as employeeCtrl">
    <div class="container">
        <form ng-submit="employeeCtrl.altaEmpleado()">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Nombre</label>
                        <input type="text" class="form-control" id="nombreEmpleado" required ng-model="employeeCtrl.nombre">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Apellido Paterno</label>
                        <input type="text" class="form-control" id="apellidoP" required ng-model="employeeCtrl.apellidoP">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Apellido Materno</label>
                        <input type="text" class="form-control" id="apellidoM" ng-model="employeeCtrl.employeeCtrl.apellidoM">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                </div>
            </div>
        </form>
    </div>
</div>
